body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  background-color: rgb(88, 55, 22);
  display: flex;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: aliceblue;
}
.header-img{
  background-image: url('https://aircase.in/cdn/shop/articles/Cover_Image_1.jpg?v=1676360206');
  height: 170vh;
  /* width: 70vw; */
  background-position: center;
  background-repeat: no-repeat;

}
.products{
  display: flex;
}
.navbar{ 
  display: flex;
  flex: 80%;
}
.navbar ul{
  display: flex;
}
.list-item{
  margin: 15px;
}
.shopping-cart{
  flex: 5%;
  margin-top: 20px;
}
.btns{
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: brown;
  color: aliceblue;
}
